@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

ul::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #fff;
}
ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #CAD4EE;
}

.main-page {
    position: relative;
}